<f:switch expression="{data.tx_mask_padding}">
    <f:case value="1">u-padding-bottom--5x</f:case>
    <f:case value="2">u-padding-top--5x</f:case>
    <f:case value="3">u-padding-top--5x u-padding-bottom--5x</f:case>
</f:switch>