<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />
	<f:section name="content">
		<v:page.header.title title="{article.title}" setIndexedDocTitle="1" />

		<div class="story-stage">
			<f:if condition="{article.topImage}">
				<div class="story-stage__image__wrapper">
					<div class="story-stage__image">
						<f:if condition="{article.topImage}">
							<f:image image="{article.topImage}" additionalAttributes="{style: 'object-position: 25% 75%'}"/>
						</f:if>
					</div>
				</div>
				<div class="story-stage__issue">
					<div class="story-stage__issue__no">#{article.magazine.0.number}</div><span>Ausgabe</span>
				</div>
				<div class="cover__to-content">
					<div class="container">
						<div class="row row--center">
							<a href="#content" class="cover__content__down">
							<span class="icon icon-arrow-more-articles">
								<svg role="img">
									<use xlink:href="#icon-arrow-more-articles"></use>
								</svg>
								<span class="icon-click-target"></span>
							</span>
							</a>
						</div>
					</div>
				</div>
				<div class="story-stage__headlines">
					<div class="container">
						<div class="row row--center">
							<h1 class="story-stage__title col-lg-10">{article.title}</h1>
							<h2 class="story-stage__subtitle col-md-10 col-lg-8">{article.subtitle}</h2>
						</div>
					</div>
				</div>
			</f:if>

			<nav class="nav">
				<div class="nav__bar">
					<div class="nav__bar__arrows">
						<div class="nav__bar__arrows__top">
							<button class="button button--plain">
								<span>
									<span class="icon icon-arrow-to-top">
										<svg role="img">
											<use xlink:href="#icon-arrow-to-top"></use>
										</svg>
										<span class="icon-click-target"></span>
									</span>
								</span>
							</button>
						</div>
						<div class="nav__bar__arrows__back">
							<button class="button button--plain">
								<span>
									<span class="icon icon-arrow-back-text">
										<svg role="img">
											<use xlink:href="#icon-arrow-back-text"></use>
										</svg>
										<span class="icon-click-target"></span>
									</span>
									<span>Zurück</span>
								</span>
							</button>
						</div>
					</div>
					<div class="nav__bar__logo">
						<a href="/">
							<f:image src="EXT:provider/Resources/Public/Image/GAD_Header2.png"/>
						</a>
					</div>
					<div class="nav__bar__hamburger">
						<span class="icon icon-hamburger">
							<svg role="img">
								<use xlink:href="#icon-hamburger"></use>
							</svg>
							<span class="icon-click-target"></span>
						</span>
						<span class="icon icon-close-nav">
							<svg role="img">
								<use xlink:href="#icon-close-nav"></use>
							</svg>
							<span class="icon-click-target"></span>
						</span>
					</div>
				</div>
				<div class="nav__menu">
					<div class="nav__menu__flex">
						<ul class="nav__menu__list">
							<li class="nav__menu__list__item">
								<a class="button button--plain is-active" href="/">
									<span>Home</span>
								</a>
							</li>
							<li class="nav__menu__list__item">
								<button class="button button--plain" data-content="0">
									<span>Ausgaben</span>
								</button>
							</li>
							<li class="nav__menu__list__item">
								<button class="button button--plain" data-content="1">
									<span>Rubriken</span>
								</button>
							</li>
							<li class="nav__menu__list__item">
								<button class="button button--plain" data-content="2">
									<span>Themen</span>
								</button>
							</li>
						</ul>
						<div class="nav__menu__search">
							<button class="button button--plain">
                            <span>
                                <span class="icon icon-search">
                                    <svg role="img">
                                        <use xlink:href="#icon-search"></use>
                                    </svg>
                                    <span class="icon-click-target"></span>
                                </span>
                            </span>
							</button>
						</div>
					</div>
				</div>
				<div class="nav__searchbar">
					<v:render.template file="EXT:provider/Resources/Private/Partials/Search.html" variables="{pageUid: '{f:cObject(typoscriptObjectPath: \'lib.search\')}'}" paths="{v:variable.typoscript(path: 'plugin.tx_provider.view')}" />
				</div>
				<div class="nav__contents">
					<v:render.template file="EXT:provider/Resources/Private/Partials/Menu/Archive.html" variables="{_all}" paths="{v:variable.typoscript(path: 'plugin.tx_provider.view')}" />
					<v:render.template file="EXT:provider/Resources/Private/Partials/Menu/Rubric.html" variables="{_all}" paths="{v:variable.typoscript(path: 'plugin.tx_provider.view')}" />
					<v:render.template file="EXT:provider/Resources/Private/Partials/Menu/Theme.html" variables="{_all}" paths="{v:variable.typoscript(path: 'plugin.tx_provider.view')}" />
				</div>
			</nav>
		</div>
		<f:if condition="{article.topImage}">
			<div class="story-stage__follower"></div>
		</f:if>

		<f:render partial="Article/Properties" arguments="{_all}" />
	</f:section>
</html>