<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<div class="tx-dzbankuser container">
		<div class="row">
			<div class="col-xs-12">
				<f:render section="content" />
			</div>
		</div>
	</div>
</html>