<div class="story-stage__image__wrapper">
    <div class="story-stage__image">
        <img src="/fileadmin/user_uploads/00_startseite/360.jpg" style="object-position: 25% 75%"/>
    </div>
</div>
<div class="story-stage__issue">
    <div class="story-stage__issue__no">#1</div>
    <span>Ausgabe</span>
</div>
<div class="cover__to-content">
    <div class="container">
        <div class="row row--center">
            <a href="#content" class="cover__content__down">
                <div>zu den Artikeln</div>
                <span class="icon icon-arrow-more-articles">
                    <svg role="img">
                        <use xlink:href="#icon-arrow-more-articles"></use>
                    </svg>
                    <span class="icon-click-target"></span>
                </span>
            </a>
        </div>
    </div>
</div>
<div data-loading-intercept="true" class="cover">
    <div class="cover__figure"></div>
    <div class="dummy-overlay">
        <img src="/fileadmin/user_uploads/header_header-375.svg" class="u-hidden--md-up"/>
        <img src="/fileadmin/user_uploads/header_header-768.svg" class="u-hidden--md-down u-hidden--lg-up"/>
        <img src="/fileadmin/user_uploads/header_header-1024.svg" class="u-hidden--lg-down u-hidden--xl-up"/>
        <img src="/fileadmin/user_uploads/header_header-1440.svg" class="u-hidden--xl-down"/>
    </div>
    <script type="text/template" class="cover__video">
        <div class="cover__video">
            <video autoplay="autoplay" playsinline="playsinline" loop="loop">
                <source type="video/mp4" src="/fileadmin/user_uploads/00_startseite/Metamorphose-Fallback.mp4"/>
            </video>
        </div>
    </script>
    <div class="cover__content">
        <div class="container">
            <div class="row row--center">
                <h1 class="cover__content__title col-lg-10">Metamorphose</h1>
            </div>
            <div class="row row--center">
                <div class="cover__content__subtitle col-md-10 col-lg-8">Wie die EZB ihre Geldpolitik ändert</div>
            </div>
        </div>
    </div>
    <img src="/fileadmin/user_uploads/Stoerer/betaversion2.png" class="cover__storer"/>
</div>