<div class="issue-slider slider__wrapper">
    <div class="container">
        <div class="row row--center">
            <h3>Weitere Ausgaben</h3>
            <div class="col-12 col-md-10 col-xl-8">
                <div class="slider" data-magnify="false">
                    <div class="slider__items">

                        <f:for each="{archived}" as="magazine">
                            <div class="slider__item">
                                <f:link.page pageUid="{f:cObject(typoscriptObjectPath: 'lib.root')}"
                                             additionalParams="{tx_dzbankmagazine_magazine: {magazine:magazine} }"
                                             class="issue-teaser">
                                    <article>
                                        <div class="issue-teaser__figure">
                                            <f:if condition="{magazine.image}">
                                                <f:image image="{magazine.image}"/>
                                                <f:if condition="{magazine.imageHover}">
                                                    <div aria-hidden="aria-hidden" class="issue-teaser__figure__hover">
                                                        <f:image image="{magazine.imageHover}"/>
                                                    </div>
                                                </f:if>
                                            </f:if>
                                            <div class="issue-teaser__figure__content">
                                                <h1>
                                                    {magazine.title}
                                                    <small>{magazine.subtitle}</small>
                                                </h1>
                                            </div>
                                            <div class="issue-teaser__figure__logo">
                                                <f:image src="EXT:provider/Resources/Public/Image/GAD_Header2--inverted.png" />
                                            </div>
                                            <div class="issue-teaser__figure__number">#{magazine.number}</div>
                                        </div>
                                        <div class="issue-teaser__title">Ausgabe #{magazine.number}, {magazine.date -> f:format.date(format: '%B %Y')}</div>
                                    </article>
                                </f:link.page>
                            </div>
                        </f:for>

                    </div>
                </div>
            </div>
        </div>
        <div class="slider__arrow slider__arrow--previous">
            <span class="icon icon-arrow-slider-left">
                <svg role="img">
                    <use xlink:href="#icon-arrow-slider-left"></use>
                </svg>
                <span class="icon-click-target"></span>
            </span>
        </div>
        <div class="slider__arrow slider__arrow--next">
            <span class="icon icon-arrow-slider-right">
                <svg role="img">
                    <use xlink:href="#icon-arrow-slider-right"></use>
                </svg>
                <span class="icon-click-target"></span>
            </span>
        </div>
    </div>
</div>