<div class="story-stage">
    <f:render partial="Animation" arguments="{_all}"/>
    <nav class="nav">
        <div class="nav__bar">
            <div class="nav__bar__arrows">
                <div class="nav__bar__arrows__top">
                    <button class="button button--plain">
                        <span>
                            <span class="icon icon-arrow-to-top">
                                <svg role="img">
                                    <use xlink:href="#icon-arrow-to-top">
                                    </use>
                                </svg>
                                <span class="icon-click-target">
                                </span>
                            </span>
                        </span>
                    </button>
                </div>
            </div>
            <div class="nav__bar__logo">
                <a href="/">
                    <f:image src="EXT:provider/Resources/Public/Image/GAD_Header2.png"/>
                </a>
            </div>
            <div class="nav__bar__hamburger">
                <span class="icon icon-hamburger">
                    <svg role="img">
                        <use xlink:href="#icon-hamburger">
                        </use>
                    </svg>
                    <span class="icon-click-target"></span>
                </span>
                <span class="icon icon-close-nav">
                    <svg role="img">
                        <use xlink:href="#icon-close-nav"></use>
                    </svg>
                    <span class="icon-click-target"></span>
                </span>
            </div>
        </div>
        <div class="nav__menu">
            <div class="nav__menu__flex">
                <ul class="nav__menu__list">
                    <li class="nav__menu__list__item">
                        <a class="button button--plain is-active" href="/">
                            <span>Home</span>
                        </a>
                    </li>
                    <li class="nav__menu__list__item">
                        <button class="button button--plain" data-content="0">
                            <span>Ausgaben</span>
                        </button>
                    </li>
                    <li class="nav__menu__list__item">
                        <button class="button button--plain" data-content="1">
                            <span>Rubriken</span>
                        </button>
                    </li>
                    <li class="nav__menu__list__item">
                        <button class="button button--plain" data-content="2">
                            <span>Themen</span>
                        </button>
                    </li>
                </ul>
                <div class="nav__menu__search">
                    <button class="button button--plain">
                            <span>
                                <span class="icon icon-search">
                                    <svg role="img">
                                        <use xlink:href="#icon-search"></use>
                                    </svg>
                                    <span class="icon-click-target"></span>
                                </span>
                            </span>
                    </button>
                </div>
            </div>
        </div>
        <div class="nav__searchbar">
            <f:render partial="Search" arguments="{pageUid: '{f:cObject(typoscriptObjectPath: \'lib.search\')}'}" />
        </div>
        <div class="nav__contents">
            <f:render partial="Menu/Archive" arguments="{_all}"/>
            <f:render partial="Menu/Rubric" arguments="{_all}"/>
            <f:render partial="Menu/Theme" arguments="{_all}"/>
        </div>
    </nav>
</div>
<div class="story-stage__follower"></div>
