<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:dz="http://typo3.org/ns/Netfed/Dzbankuser/ViewHelpers" data-namespace-typo3-fluid="true">
    {dz:userGroup() -> f:variable(name: 'userGroup')}
    <div class="branding">
        <f:if condition="{userGroup.image}">
            <f:then>
                <div style="background-image: url({f:uri.image(image: userGroup.image)})" class="branding__top">
            </f:then>
            <f:else>
                <div style="background-image: url(/fileadmin/user_uploads/branding.jpg)" class="branding__top">
            </f:else>
        </f:if>
            <f:comment>
                <!--<img src="/fileadmin/user_uploads/Bildhinweis.png" class="branding__top__bildhinweis"/>-->
            </f:comment>
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="branding__top__item">
                            <f:if condition="{userGroup.logo}">
                                <f:then>
                                    <f:image image="{userGroup.logo}" />
                                </f:then>
                                <f:else>
                                    <img src="/fileadmin/user_uploads/volksbanken.svg"/>
                                </f:else>
                            </f:if>
                            <a class="button" href="{f:if(condition: userGroup.link, then: '{f:uri.typolink(parameter: userGroup.link)}', else: '/')}">
                                <span>
                                    <span class="u-hidden--md-up">Zum Kooperationspartner</span>
                                    <span class="u-hidden--md-down">Zur Website des<br>Kooperationspartners</span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="branding__bottom">
            <div class="container">
                <div class="branding__bottom__items">
                    <div class="branding__bottom__item branding__bottom__item--left">
                        <img src="/fileadmin/user_uploads/dzbank.svg"/>
                    </div>
                    <div class="branding__bottom__item branding__bottom__item--right">
                        <img src="/fileadmin/user_uploads/finanzgruppe.svg"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <div class="footer__copyright"><span>Copyright &copy; {f:format.date(date: "now",format: 'Y')} DZ BANK AG,</span> <span>Frankfurt am Main</span>
            </div>
            <div class="footer__flex">
                <ul class="footer__links">
                    <f:cObject typoscriptObjectPath="lib.footerMenu" />
                </ul>
            </div>
        </div>
    </footer>

</html>