<script type="text/javascript">
    document.body.className += ' js';
</script>
<noscript>
    <style type="text/css">
        body { overflow: auto; }
        .loading { display: none; }
    </style>
</noscript>
<f:render partial="Svg" arguments="{_all}"/>
<div class="loading">
    <div class="loading__inner">
        <div class="loading__visual">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 174 55">
                <path fill="#282828" d="M154.258 30.886h5.36v-10.08c0-2.64.84-6.84 4.72-6.84 3.44 0 3.48 3.4 3.48 5.92v11h5.36v-13c0-4.64-2.12-8.08-7-8.08-2.8 0-5.12 1.28-6.48 3.28h-.08V.886h-5.36v30zm-5.918-20.4c-1.48-.44-3.04-.68-5.2-.68-6.44 0-9.96 4.72-9.96 10.68 0 6.28 3.4 10.88 10.16 10.88 2.2 0 3.8-.2 5.36-.68l-.24-4.44c-.92.4-2.6.96-4.12.96-3.76 0-5.56-2.92-5.56-6.72 0-3.88 2.12-6.52 5.44-6.52 1.64 0 2.68.32 3.64.76l.48-4.24zm-26.84-3.96h5.36v-5.12h-5.36v5.12zm0 24.36h5.36v-20.6h-5.36v20.6zm-17.56 0h5.36v-7.56c0-2.96 0-8.4 4.36-8.4.96 0 1.92.16 2.4.44v-5.4c-.56-.16-1.12-.16-1.64-.16-3.2 0-5.4 3.24-5.64 5.16h-.08v-4.68h-4.76v20.6zm-12.839 0h5.2v-30h-5.36v11.8h-.08c-1.6-1.96-3.48-2.88-6.16-2.88-6.32 0-8.64 5.04-8.64 10.72 0 5.64 2.32 10.84 8.64 10.84 2.52 0 4.72-.8 6.32-2.8h.08v2.32zm-9.441-10.36c0-2.76.96-6.56 4.44-6.56 3.44 0 4.8 3.68 4.8 6.56 0 2.92-1.16 6.68-4.72 6.68-3.52 0-4.52-3.84-4.52-6.68m-12 4.84c-2 1.12-4.24 2.08-6.84 2.08-3.32 0-5.64-1.88-5.88-5.2h14.24c0-7.2-2.16-12.44-9.8-12.44-6.4 0-9.56 4.92-9.56 10.88 0 6.76 3.96 10.68 10.76 10.68 2.88 0 5.12-.56 7.08-1.64v-4.36zm-12.72-6.8c.24-2.76 1.76-4.84 4.76-4.84s4.2 2.24 4.36 4.84h-9.12zm-16.8-12.04h5.36v-5.12h-5.36v5.12zm0 24.36h5.36v-20.6h-5.36v20.6zm-17.56 0h5.36v-7.56c0-2.96 0-8.4 4.36-8.4.96 0 1.92.16 2.4.44v-5.4c-.56-.16-1.12-.16-1.64-.16-3.2 0-5.4 3.24-5.64 5.16h-.08v-4.68h-4.76v20.6zm-21.64 0h5.6v-12.24h9.44v-4.4H6.54v-6.88h9.92v-4.4H.94v27.92z"/>
                <path class="loading__progress" fill="none" stroke="#1A1A18" stroke-width="6" d="M28.819 51.636h116"/>
            </svg>
        </div>
    </div>
</div>