<f:form pageUid="{pageUid}" extensionName="Dzbankmagazine" pluginName="Magazine" controller="Search" action="index" method="post" name="search" noCacheHash="true">
	<f:form.textfield name="word" placeholder="Suchbegriff" />
	<button class="button button--inverted" type="submit"><span>Suchen</span></button>
</f:form>