<svg xmlns="http://www.w3.org/2000/svg" class="icon--wrapper">
    <symbol id="icon-arrow-article-sticky" viewBox="0 0 30 30">
        <title>00_ASSETS</title> <polyline points="12.363 22.5 19.363 15.499 12.363 8.5" fill="none" stroke="#1f1f1f" stroke-miterlimit="10" stroke-width="1.5"/>
    </symbol>
    <symbol id="icon-arrow-back-text" viewBox="0 0 7 10">
        <title>___</title> <polyline points="6 1 2 5.001 6 9" fill="none" stroke="#1f1f1f" stroke-miterlimit="10" stroke-width="1.5"/>
    </symbol>
    <symbol id="icon-arrow-more-articles" viewBox="0 0 22 13">
        <title>_</title> <polyline points="1 1 11.001 11 21 1" fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="1.5"/>
    </symbol>
    <symbol id="icon-arrow-slider-l" viewBox="0 0 140 140">
        <title>00_ASSETS</title> <polyline points="50 110 90 69.994 50 30" fill="none" stroke="#1f1f1f" stroke-miterlimit="10" stroke-width="1.5"/>
    </symbol>
    <symbol id="icon-arrow-slider-left" viewBox="0 0 80 80">
        <title>00_ASSETS</title> <polyline points="51.5 17 28.5 40.003 51.5 63" fill="none" stroke="#1f1f1f" stroke-miterlimit="10" stroke-width="1.5"/>
    </symbol>
    <symbol id="icon-arrow-slider-right" viewBox="0 0 80 80">
        <title>00_ASSETS</title> <polyline points="28.5 63 51.5 39.997 28.5 17" fill="none" stroke="#1f1f1f" stroke-miterlimit="10" stroke-width="1.5"/>
    </symbol>
    <symbol id="icon-arrow-slider" viewBox="0 0 80 80">
        <title>_</title> <polyline points="28.5 63 51.5 39.997 28.5 17" fill="none" stroke="#1f1f1f" stroke-miterlimit="10" stroke-width="1.5"/>
    </symbol>
    <symbol id="icon-arrow-subline" viewBox="0 0 12 19">
        <title>00_ASSETS</title> <polyline points="2 17 9.604 9.499 2 2" fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="1.5"/>
    </symbol>
    <symbol id="icon-arrow-to-top" viewBox="0 0 40 40">
        <title>_</title> <polyline points="29 24.5 19.999 15.5 11 24.5" fill="none" stroke="#1f1f1f" stroke-miterlimit="10" stroke-width="1.5"/>
    </symbol>
    <symbol id="icon-author" viewBox="0 0 23 23">
        <title>__</title> <g> <rect x="1.36" y="8.776" width="23.097" height="2.662" transform="translate(-3.366 12.088) rotate(-45)" fill="#7d7a7a"/> <polygon points="1 22.016 4.718 20.18 2.836 18.298 1 22.016" fill="#7d7a7a"/> </g>
    </symbol>
    <symbol id="icon-close-nav" viewBox="0 0 40 40">
        <title>_</title> <polyline points="13.051 27 19.982 20 26.949 27" fill="none" stroke="#1f1f1f" stroke-miterlimit="10" stroke-width="1.5"/> <polyline points="26.915 13 19.984 20 13.051 13" fill="none" stroke="#1f1f1f" stroke-miterlimit="10" stroke-width="1.5"/>
    </symbol>
    <symbol id="icon-close" viewBox="0 0 40 30">
        <title>00_ASSETS</title> <polyline points="13 22 19.931 15 26.898 22" fill="none" stroke="#1f1f1f" stroke-miterlimit="10" stroke-width="1.5"/> <polyline points="26.863 8 19.933 15 13 8" fill="none" stroke="#1f1f1f" stroke-miterlimit="10" stroke-width="1.5"/>
    </symbol>
    <symbol id="icon-facebook-footer" viewBox="0 0 10 19">
        <title>_</title> <path d="M8.963,3.953H6.995a.849.849,0,0,0-.806.716V6.637H8.874C8.784,8.158,8.6,9.5,8.6,9.5H6.279V18H2.7V9.5H1V6.637H2.7V4.311C2.7,3.864,2.61,1,6.279,1H8.874V3.953Z" fill="#fff"/>
    </symbol>
    <symbol id="icon-hamburger" viewBox="0 0 40 40">
        <title>_</title> <line x1="11" y1="14" x2="29" y2="14" fill="none" stroke="#1f1f1f" stroke-miterlimit="10" stroke-width="1.5"/> <line x1="11" y1="20" x2="29" y2="20" fill="none" stroke="#1f1f1f" stroke-miterlimit="10" stroke-width="1.5"/> <line x1="11" y1="26" x2="29" y2="26" fill="none" stroke="#1f1f1f" stroke-miterlimit="10" stroke-width="1.5"/>
    </symbol>
    <symbol id="icon-likes" viewBox="0 0 17 15">
        <title>_</title> <path d="M14.9,7.5a3.849,3.849,0,0,0,0-5.386,3.712,3.712,0,0,0-5.306,0L8.5,3.227,7.4,2.116a3.712,3.712,0,0,0-5.306,0A3.849,3.849,0,0,0,2.1,7.5L8.5,14Z" fill="#7d7a7a"/>
    </symbol>
    <symbol id="icon-next-kopie" viewBox="0 0 63 23">
        <title>_</title> <path d="M36.211,15.1l3.706-5.378L43.644,15.1h2.921L41.448,7.888,46.362,1h-2.84L40,6.115,36.493,1H33.572l4.895,6.928-5.1,7.171Zm-6.724-2.216H21.411V9.1h7.07V6.881h-7.07V3.215h7.976V1H18.934V15.1H29.487ZM50.125,1V3.3H54.6V15.1h2.5V3.3h4.471V1ZM13.3,1H10.861v9.748L3.308,1h-2.3V15.1H3.449V5.068L11.224,15.1H13.3Zm-.584,20.8H48.851V20.3H12.714Z" fill="#1f1f1f"/>
    </symbol>
    <symbol id="icon-next" viewBox="0 0 216 77">
        <title>_</title> <path d="M43.639,76h128V71h-128Zm.669-75h-8.59V35.363L9.094,1H1V50.7H9.591V15.342L37,50.7h7.313Zm57.084,41.89H72.922V29.541H97.843v-7.81H72.922V8.81h28.115V1H64.189V50.7h37.2Zm23.715,7.81,13.063-18.957L151.306,50.7H161.6L143.566,25.281,160.891,1H150.88L138.455,19.033,126.1,1H115.807l17.252,24.424L115.1,50.7ZM174.168,1V9.094H189.93V50.7h8.8V9.094H214.5V1Z" fill="#fff"/>
    </symbol>
    <symbol id="icon-number-1" viewBox="0 0 71 52">
        <title>_</title> <path d="M40.688,1.355h-7.6L31.175,12.5H19.6L21.519,1.355h-7.6L12,12.5H3.627v7.384h7.1L8.6,32.24H1v7.384H7.319L5.4,51.055H13l1.916-11.431H26.489L24.571,51.055h7.6l1.916-11.431h8.449V32.24H35.363l2.13-12.354h7.668V12.5h-6.39Zm-12.779,31.1H16.052l2.2-12.78H30.109ZM63.835,1,50.416,5.26l1.846,7.1,8.946-2.485v41.18H69.87V1Z" fill="#fff"/>
    </symbol>
    <symbol id="icon-read" viewBox="0 0 39 23">
        <title>__</title> <path d="M37.766,8.609H35.914a7.657,7.657,0,0,0-14.286.584,3.5,3.5,0,0,0-4.256,0A7.657,7.657,0,0,0,3.086,8.609H1.234v2.313h1.3c-.015.191-.03.383-.03.578a7.569,7.569,0,0,0,7.621,7.516A7.569,7.569,0,0,0,17.741,11.5c0-.143-.014-.282-.022-.423a2.013,2.013,0,0,1,3.561,0c-.008.141-.022.28-.022.423a7.621,7.621,0,0,0,15.241,0c0-.2-.015-.387-.03-.578h1.3ZM10.121,17.516A6.076,6.076,0,0,1,4,11.5a6.122,6.122,0,0,1,12.241,0A6.076,6.076,0,0,1,10.121,17.516Zm18.759,0A6.076,6.076,0,0,1,22.759,11.5,6.122,6.122,0,0,1,35,11.5,6.076,6.076,0,0,1,28.879,17.516Z" fill="#7d7a7a"/>
    </symbol>
    <symbol id="icon-readingtime" viewBox="0 0 20 23">
        <title>__</title> <g> <path d="M10,5.75a7.5,7.5,0,1,1-7.5,7.5A7.508,7.508,0,0,1,10,5.75m0-1.5a9,9,0,1,0,9,9,9,9,0,0,0-9-9Z" fill="#7a7a7a"/> <line x1="10.083" y1="7.917" x2="10.083" y2="12.917" fill="none" stroke="#7a7a7a" stroke-linecap="round" stroke-miterlimit="10" stroke-width="1.5"/> <line x1="10.083" y1="2.917" x2="10.083" y2="3.917" fill="none" stroke="#7a7a7a" stroke-linecap="square" stroke-miterlimit="10" stroke-width="2.5"/> <line x1="17.5" y1="5.931" x2="16.5" y2="6.931" fill="none" stroke="#7a7a7a" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.5"/> <line x1="7" y1="1.75" x2="13" y2="1.75" fill="none" stroke="#7a7a7a" stroke-linecap="round" stroke-miterlimit="10" stroke-width="1.5"/> </g>
    </symbol>
    <symbol id="icon-search" viewBox="0 0 40 40">
        <title>_____</title> <path d="M24.588,23.557A7.368,7.368,0,0,0,26.5,18.616a7.641,7.641,0,0,0-7.75-7.528A7.641,7.641,0,0,0,11,18.616a7.642,7.642,0,0,0,7.75,7.528,7.854,7.854,0,0,0,4.729-1.573l5,4.878,1.047-1.073ZM18.75,24.644a6.149,6.149,0,0,1-6.25-6.028,6.149,6.149,0,0,1,6.25-6.028A6.149,6.149,0,0,1,25,18.616,6.149,6.149,0,0,1,18.75,24.644Z" fill="#1f1f1f"/>
    </symbol>
    <symbol id="icon-title-1-1024" viewBox="0 0 53 40">
        <title>title_</title> <g> <path d="M31.072,29.837H24.955l-1.389,8.276h-5.5l1.389-8.276h-8.38L9.688,38.113h-5.5l1.388-8.276H1V24.49H6.5l1.542-8.944H2.9V10.2H8.968l1.388-8.071h5.5L14.469,10.2h8.379l1.388-8.071h5.5L28.348,10.2h4.627v5.347H27.423L25.881,24.49h5.191ZM11.9,24.645h8.584l1.594-9.253H13.491Z" fill="#fff"/> <path d="M44.59,8.3l-6.478,1.8L36.776,4.956l9.716-3.084h4.369V38.113H44.59Z" fill="#fff"/> </g>
    </symbol>
    <symbol id="icon-title-1-1440" viewBox="0 0 71 52">
        <title>title_</title> <g> <path d="M42.534,39.624H34.086L32.169,51.054h-7.6l1.917-11.431H14.915L13,51.054H5.4L7.319,39.624H1V32.24H8.6l2.13-12.354h-7.1V12.5H12L13.922,1.355h7.6L19.6,12.5H31.175L33.092,1.355h7.6L38.771,12.5h6.39v7.384H37.493L35.363,32.24h7.171ZM16.052,32.453H27.908l2.2-12.78H18.253Z" fill="#fff"/> <path d="M61.207,9.875,52.262,12.36l-1.847-7.1L63.834,1h6.035V51.054H61.207Z" fill="#fff"/> </g>
    </symbol>
    <symbol id="icon-title-1-375" viewBox="0 0 35 27">
        <title>title_</title> <g> <path d="M20.558,20.1H16.579l-.9,5.383H12.1L13,20.1H7.553l-.9,5.383H3.073l.9-5.383H1V16.626H4.577l1-5.817H2.237V7.333H6.183l.9-5.249h3.577l-.9,5.249h5.45l.9-5.249h3.577l-.9,5.249h3.009v3.477h-3.61l-1,5.817h3.377ZM8.088,16.727h5.583l1.036-6.019H9.124Z" fill="#fff"/> <path d="M29.352,6.1,25.14,7.265l-.869-3.343,6.318-2.006h2.842V25.486H29.352Z" fill="#fff"/> </g>
    </symbol>
    <symbol id="icon-title-next-1024" viewBox="0 0 157 56">
        <title>title_</title> <rect x="32" y="52" width="93" height="3" fill="#fff"/> <g> <path d="M1,1H6.86L26.138,25.881V1h6.22V36.985H27.063L7.22,11.384v25.6H1Z" fill="#fff"/> <path d="M46.749,1h26.68V6.655H53.071v9.356H71.115v5.654H53.071v9.665H73.686v5.654H46.749Z" fill="#fff"/> <path d="M116.763,1,104.22,18.582l13.057,18.4h-7.454l-9.51-13.726L90.854,36.985H83.605l13.006-18.3L84.119,1h7.454l8.944,13.057,9-13.057Z" fill="#fff"/> <path d="M137.784,6.861H126.372V1h29.2V6.861H144.158V36.985h-6.374Z" fill="#fff"/> </g>
    </symbol>
    <symbol id="icon-title-next-1440" viewBox="0 0 216 78">
        <title>title_</title> <rect x="44.14" y="71.5" width="128" height="5" fill="#fff"/> <path d="M1.5,1.5H9.594L36.219,35.864V1.5H44.81V51.2H37.5L10.091,15.843V51.2H1.5Z" fill="#fff"/> <path d="M64.689,1.5h36.849v7.81H73.423V22.233H98.344v7.81H73.423V43.391h28.471V51.2h-37.2Z" fill="#fff"/> <path d="M161.392,1.5,144.067,25.783,162.1,51.2H151.807L138.672,32.243,125.607,51.2H115.6L133.56,25.925,116.307,1.5H126.6l12.354,18.034L151.38,1.5Z" fill="#fff"/> <path d="M190.429,9.595H174.667V1.5H215V9.595H199.232V51.2h-8.8Z" fill="#fff"/>
    </symbol>
    <symbol id="icon-title-next-375" viewBox="0 0 103 38">
        <title>title_</title> <g> <rect x="21" y="34" width="60" height="2.4" fill="#fff"/> <g> <path d="M1,1H4.812L17.348,17.181V1h4.045V24.4H17.95L5.045,7.753V24.4H1Z" fill="#fff"/> <path d="M30.757,1H48.107V4.678H34.868v6.084H46.6v3.678H34.868v6.285H48.274V24.4H30.757Z" fill="#fff"/> <path d="M76.259,1,68.1,12.434,76.593,24.4H71.745l-6.185-8.927L59.409,24.4H54.7l8.458-11.9L55.029,1h4.848l5.817,8.491L71.545,1Z" fill="#fff"/> <path d="M89.934,4.812H82.512V1H101.5V4.812H94.079V24.4H89.934Z" fill="#fff"/> </g> </g>
    </symbol>
    <symbol id="icon-twitter-footer" viewBox="0 0 23 19">
        <title>_</title> <path d="M7.569,18A12.055,12.055,0,0,0,19.675,5.988V5.237a7.088,7.088,0,0,0,2.158-2.252,7.246,7.246,0,0,1-2.439.657A4.589,4.589,0,0,0,21.27,1.3a9.59,9.59,0,0,1-2.721,1.032,4.279,4.279,0,0,0-6.006-.188,4.294,4.294,0,0,0-1.314,4.223,12.16,12.16,0,0,1-8.821-4.5A4.39,4.39,0,0,0,3.721,7.583a3.943,3.943,0,0,1-1.97-.563v.094a4.319,4.319,0,0,0,3.378,4.223,4.66,4.66,0,0,1-1.971.094,4.32,4.32,0,0,0,3.942,3,8.431,8.431,0,0,1-5.068,1.689H1A12.431,12.431,0,0,0,7.569,18" fill="#fff"/>
    </symbol>
    <symbol id="icon-xing-footer" viewBox="0 0 18 19">
        <title>_</title> <path d="M16.583,1.766c.135-.236.261-.476.419-.765C15.7,1,14.458,1,13.221,1.011a.453.453,0,0,0-.305.218q-2.832,4.935-5.641,9.885a.525.525,0,0,0,0,.44q1.759,3.123,3.551,6.228a.449.449,0,0,0,.311.208C12.367,18,13.593,18,14.9,18c-.082-.167-.126-.269-.18-.364-1.14-2-2.277-4-3.427-5.995a.54.54,0,0,1,0-.619Q13.947,6.4,16.583,1.766M7.513,7.721c-.6-1.026-1.2-2.052-1.754-3.1A.849.849,0,0,0,4.847,4.1C4.5,4.11,2.48,4.11,1.736,4.11c.073.154.113.256.166.35.611,1.078,1.217,2.159,1.84,3.23a.515.515,0,0,1,0,.614C3.03,9.453,2.332,10.612,1.63,11.768c-.207.342-.409.686-.63,1.056a1.562,1.562,0,0,0,.19.031c1.1,0,2.2.011,3.3-.011a.58.58,0,0,0,.392-.267c.879-1.419,1.737-2.851,2.611-4.272a.49.49,0,0,0,.018-.584" fill="#fff"/>
    </symbol>
    <symbol id="icon-youtube-footer" viewBox="0 0 45 20">
        <title>_</title> <path d="M33.924,8.254a1.21,1.21,0,0,0-.811.393l0,5.221a1.2,1.2,0,0,0,.813.392c.45,0,.653-.33.653-1.19v-3.7c0-.861-.2-1.114-.653-1.114m5.713,6.006a.669.669,0,0,0,.7-.625c.015-.085.012-.457.012-1.082h1.636V12.8a9.732,9.732,0,0,1-.056,1.014,2.222,2.222,0,0,1-.364.934,2.157,2.157,0,0,1-1.885.932,2.231,2.231,0,0,1-1.887-.881,3.185,3.185,0,0,1-.544-1.985V9.8a3.46,3.46,0,0,1,.525-2.065,2.232,2.232,0,0,1,1.867-.9,2.181,2.181,0,0,1,1.839.9,3.372,3.372,0,0,1,.507,2.027v1.76h-3.1v1.546c-.005.794.221,1.194.756,1.194m-3.425-1.277A6.622,6.622,0,0,1,36.04,14.7a1.278,1.278,0,0,1-1.282.972,2.214,2.214,0,0,1-1.643-.978l0,.867h-1.55V4.03h1.55l0,3.761a2.233,2.233,0,0,1,1.647-.972,1.262,1.262,0,0,1,1.246,1,6.045,6.045,0,0,1,.208,1.718Zm-5.94,2.583H28.636v-.947a2.419,2.419,0,0,1-1.719,1.07,1.027,1.027,0,0,1-1.026-.666,3.441,3.441,0,0,1-.182-1.265v-6.8h1.636V13.93c.038.242.141.33.349.33.313,0,.6-.272.942-.76V6.957h1.636Zm-6.2,0H22.351v-9.9H20.544V4.032l5.423,0V5.666H24.073Zm19.8-10.683a5.516,5.516,0,0,0-1.022-2.54A3.678,3.678,0,0,0,40.28,1.259C36.683,1,31.287,1,31.287,1h-.012s-5.4,0-8.994.259a3.678,3.678,0,0,0-2.575,1.084,5.516,5.516,0,0,0-1.022,2.54,38.546,38.546,0,0,0-.257,4.142v1.942a38.54,38.54,0,0,0,.257,4.141,5.522,5.522,0,0,0,1.022,2.541,4.363,4.363,0,0,0,2.834,1.093c2.057.2,8.741.258,8.741.258s5.4-.008,9-.267a3.688,3.688,0,0,0,2.576-1.084,5.522,5.522,0,0,0,1.022-2.541,38.54,38.54,0,0,0,.257-4.141V9.025a38.546,38.546,0,0,0-.257-4.142M40.345,9.289c0-.8-.206-1.035-.723-1.035s-.741.219-.741,1.024v.952l1.464,0ZM5.219,3.944l-1.2,4.535L2.808,3.944H1c.369,1.082,2.153,6.887,2.153,6.887v4.735H4.875V10.831L7.027,3.944ZM9.007,14.272c-.508,0-.775-.428-.689-1.289V9.54c-.086-.861.181-1.265.689-1.265s.776.4.69,1.265v3.443c.086.861-.181,1.289-.689,1.289m0-7.464A2.06,2.06,0,0,0,7.2,7.646,3.453,3.453,0,0,0,6.684,9.72v3.091a3.2,3.2,0,0,0,.495,2,2.277,2.277,0,0,0,1.829.907,2.3,2.3,0,0,0,1.842-.907,3.25,3.25,0,0,0,.483-2v-3.1a3.462,3.462,0,0,0-.517-2.066,2.169,2.169,0,0,0-1.808-.838M15.464,13.5c-.346.488-.63.76-.943.76-.208,0-.31-.088-.348-.33V6.871H12.537v6.887a3.468,3.468,0,0,0,.181,1.265,1.028,1.028,0,0,0,1.027.666,2.419,2.419,0,0,0,1.719-1.07v.947H17.1v-8.7H15.464Z" fill="#fff"/>
    </symbol>
    <symbol id="icon-zoom-image" viewBox="0 0 20 20">
        <title>_</title> <g> <path d="M8.75,2.5A6.149,6.149,0,0,1,15,8.528a6.149,6.149,0,0,1-6.25,6.028A6.149,6.149,0,0,1,2.5,8.528,6.149,6.149,0,0,1,8.75,2.5m0-1.5A7.641,7.641,0,0,0,1,8.528a7.642,7.642,0,0,0,7.75,7.528A7.642,7.642,0,0,0,16.5,8.528,7.641,7.641,0,0,0,8.75,1Z" fill="#1f1f1f"/> <line x1="13.313" y1="13.272" x2="19" y2="18.823" fill="none" stroke="#1f1f1f" stroke-miterlimit="10" stroke-width="1.5"/> </g>
    </symbol>
</svg>