<html xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
      xmlns:nf="http://typo3.org/ns/Netfed/Dzbankmagazine/ViewHelpers"
      class="no-js"
      lang="en"
      xmlns="http://www.w3.org/1999/xhtml">

    <f:layout name="Default"/>

    <f:section name="Default">
        <f:if condition="{data.backend_layout} != 2">
            {f:cObject(typoscriptObjectPath: 'lib.content1') -> f:variable(name: 'content1')}
            <div class="story-stage">
                <f:format.raw>{content1}</f:format.raw>

                <nav class="nav">
                    <div class="nav__bar">
                        <div class="nav__bar__arrows">
                            <div class="nav__bar__arrows__top">
                                <button class="button button--plain">
                                    <span>
                                        <span class="icon icon-arrow-to-top">
                                            <svg role="img">
                                                <use xlink:href="#icon-arrow-to-top"></use>
                                            </svg>
                                            <span class="icon-click-target"></span>
                                        </span>
                                    </span>
                                </button>
                            </div>
                        </div>
                        <div class="nav__bar__logo">
                            <a href="/">
                                <f:image src="EXT:provider/Resources/Public/Image/GAD_Header2.png"/>
                            </a>
                        </div>
                        <div class="nav__bar__hamburger">
                            <span class="icon icon-hamburger">
                                <svg role="img">
                                    <use xlink:href="#icon-hamburger"></use>
                                </svg>
                                <span class="icon-click-target"></span>
                            </span>
                            <span class="icon icon-close-nav">
                                <svg role="img">
                                    <use xlink:href="#icon-close-nav"></use>
                                </svg>
                                <span class="icon-click-target"></span>
                            </span>
                        </div>
                    </div>
                    {nf:Data(classString: 'Netfed\Dzbankmagazine\Domain\Repository\MagazineRepository', methodName: 'findArchived') -> f:variable(name: 'archived')}
                    <div class="nav__menu">
                        <div class="nav__menu__flex">
                            <ul class="nav__menu__list">
                                <li class="nav__menu__list__item">
                                    <a class="button button--plain is-active" href="/">
                                        <span>Home</span>
                                    </a>
                                </li>
                                <f:if condition="{archived}">
                                    <li class="nav__menu__list__item">
                                        <button class="button button--plain" data-content="0">
                                            <span>Ausgaben</span>
                                        </button>
                                    </li>
                                </f:if>
                                <li class="nav__menu__list__item">
                                    <button class="button button--plain" data-content="1">
                                        <span>Rubriken</span>
                                    </button>
                                </li>
                                <li class="nav__menu__list__item">
                                    <button class="button button--plain" data-content="2">
                                        <span>Themen</span>
                                    </button>
                                </li>
                            </ul>
                            <div class="nav__menu__search">
                                <button class="button button--plain">
                            <span>
                                <span class="icon icon-search">
                                    <svg role="img">
                                        <use xlink:href="#icon-search"></use>
                                    </svg>
                                    <span class="icon-click-target"></span>
                                </span>
                            </span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="nav__searchbar">
                        <f:render partial="Search" arguments="{pageUid: '{f:cObject(typoscriptObjectPath: \'lib.search\')}'}" />
                    </div>
                    <div class="nav__contents">
                        <f:if condition="{archived}">
                            <f:render partial="Menu/Archive" arguments="{_all}"/>
                        </f:if>
                        <f:render partial="Menu/Rubric" arguments="{_all}"/>
                        <f:render partial="Menu/Theme" arguments="{_all}"/>
                    </div>
                </nav>
            </div>
            <f:if condition="{content1}">
                <div class="story-stage__follower"></div>
            </f:if>
        </f:if>

        <!--TYPO3SEARCH_begin-->
        <f:cObject typoscriptObjectPath="lib.content0"/>
        <!--TYPO3SEARCH_end-->

        <f:if condition="{archived}">
            <f:render partial="ArchivedSlider" arguments="{_all}" />
        </f:if>
    </f:section>
</html>
