<f:if condition="{article.editorial}">
    <f:then>
        <f:render section="Editorial" arguments="{_all}" />
    </f:then>
    <f:comment><f:else if="{other}"></f:else></f:comment>
    <f:else>
        <f:render section="Default" arguments="{_all}" />
    </f:else>
</f:if>

<f:section name="Default">
    <f:link.action
            pageUid="{f:cObject(typoscriptObjectPath: 'lib.show.article')}"
            extensionName="dzbankmagazine"
            pluginName="magazine"
            action="show"
            controller="Article"
            arguments="{article:article}"
            class="teaser teaser--default">
        <article>
            <div class="teaser__figure {f:if(condition: article.image, then:'', else: 'teaser__figure--text')}">
                <f:if condition="{article.image}">
                    <f:then>
                        <f:image image="{article.image}"/>
                        <f:if condition="{article.hoverImage}">
                            <div aria-hidden="aria-hidden" class="teaser__figure__hover">
                                <f:image image="{article.hoverImage}"/>
                            </div>
                        </f:if>
                    </f:then>
                    <f:else>
                        <div class="teaser__figure__text">
                            {article.title}
                        </div>
                    </f:else>
                </f:if>
            </div>
            <div class="teaser__content">
                <f:if condition="{article.title}">
                    <h1>{article.title}</h1>
                </f:if>
                <f:if condition="{article.subtitle}">
                    <p>{article.subtitle}</p>
                </f:if>
                <f:if condition="{article.rubric.0}">
                    <p class="teaser__content__category">{article.rubric.0.title}</p>
                </f:if>
            </div>
            <f:render partial="Article/Meta" arguments="{_all}"/>
        </article>
    </f:link.action>
</f:section>

<f:section name="Editorial">
    <f:link.action
            pageUid="{f:cObject(typoscriptObjectPath: 'lib.show.article')}"
            extensionName="dzbankmagazine"
            pluginName="magazine"
            action="show"
            controller="Article"
            arguments="{article:article}"
            class="teaser teaser--editorial">
        <article>
            <div class="teaser__figure teaser__figure--text">
                <div class="teaser__figure__text">
                    {article.title}
                </div>
            </div>
            <div class="teaser__content">
                <f:if condition="{article.rubric.0}">
                    <p class="teaser__content__category">{article.rubric.0.title}</p>
                </f:if>
            </div>
            <f:render partial="Article/Meta" arguments="{_all}"/>
        </article>
    </f:link.action>
</f:section>