<article>
    <div class="teaser__issue">
        <span class="icon" style="font-size: 14rem; line-height: 11rem;">
            #{article.magazine.0.number}
        </span>
        <f:translate key="tx_dzbankmagazine_domain_model_magazine.version" />
        <span class="base__hidden--desktop">, {article.magazine.0.date -> f:format.date(format: '%B %Y')}</span>
    </div>
    <div class="teaser__figure">
        <f:if condition="{article.image}">
            <f:image image="{article.image}"/>
        </f:if>
        <f:if condition="{article.hoverImage}">
            <div aria-hidden="aria-hidden" class="teaser__figure__hover">
                <f:image image="{article.hoverImage}"/>
            </div>
        </f:if>
    </div>
    <div class="teaser__content">
        <f:if condition="{article.title}">
            <h1>{article.title}</h1>
        </f:if>
        <f:if condition="{article.subtitle}">
            <p class="teaser__content__category">{article.subtitle}</p>
        </f:if>
        <p class="teaser__content__category">
            <f:for each="{article.rubric}" as="rubric">
                {rubric.title}
            </f:for>
        </p>
    </div>
    <f:render partial="Article/Meta" arguments="{_all}"/>
</article>