<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    <f:section name="New">
        <f:render partial="Form/Textfield" arguments="{property: 'username', label: 'user.username', required: 1}" />
        <f:render section="ConfirmPassword" arguments="{_all}" />
        <f:render section="Fields" arguments="{_all}" />
    </f:section>

    <f:section name="Edit">
        <f:render partial="Form/Textfield" arguments="{property: 'username', label: 'user.username', required: 1}" />
        <f:render section="Password" arguments="{_all}" />
        <f:render section="Fields" arguments="{_all}" />
    </f:section>

    <f:section name="Fields">
        <f:render partial="Form/Textfield" arguments="{property: 'email', label: 'user.email', type: 'email', required: 1}" />
        <f:render partial="Form/Textfield" arguments="{property: 'company', label: 'user.company'}" />
        <f:render partial="Form/Textfield" arguments="{property: 'www', label: 'user.www'}" />
        <f:render partial="Form/Textfield" arguments="{property: 'firstName', label: 'user.firstName', required: 1}" />
        <f:render partial="Form/Textfield" arguments="{property: 'lastName', label: 'user.lastName', required: 1}" />
        <f:render partial="Form/Textfield" arguments="{property: 'telephone', label: 'user.telephone'}" />
        <f:render partial="Form/Textfield" arguments="{property: 'address', label: 'user.address'}" />
        <f:render partial="Form/Textfield" arguments="{property: 'zip', label: 'user.zip'}" />
        <f:render partial="Form/Textfield" arguments="{property: 'city', label: 'user.city'}" />
        <f:render partial="Form/Textfield" arguments="{property: 'country', label: 'user.country'}" />
    </f:section>

    <f:section name="Password">
        <f:render partial="Form/Textfield" arguments="{property: 'password', label: 'user.password', type: 'password', value: '', data: {rule-minlength: 5} }" />
    </f:section>

    <f:section name="ConfirmPassword">
        <f:render partial="Form/Textfield" arguments="{property: 'password', label: 'user.password', type: 'password', value: '', data: {rule-minlength: 5}, required: 1}" />
        <f:render partial="Form/Textfield" arguments="{property: 'confirmPassword', label: 'user.confirmPassword', type: 'password', value: '', data: {rule-minlength: 5, rule-equalTo: '#password'}, required: 1}" />
    </f:section>
</html>