<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    <table class="table" >
        <tr>
            <td><f:translate key="user.username" /></td>
            <td>{user.username}</td>
        </tr>
        <tr>
            <td><f:translate key="user.email" /></td>
            <td>{user.email}</td>
        </tr>
        <tr>
            <td><f:translate key="user.company" /></td>
            <td>{user.company}</td>
        </tr>
        <tr>
            <td><f:translate key="user.www" /></td>
            <td>{user.www}</td>
        </tr>
        <tr>
            <td><f:translate key="user.firstName" /></td>
            <td>{user.firstName}</td>
        </tr>
        <tr>
            <td><f:translate key="user.lastName" /></td>
            <td>{user.lastName}</td>
        </tr>
        <tr>
            <td><f:translate key="user.telephone" /></td>
            <td>{user.telephone}</td>
        </tr>
        <tr>
            <td><f:translate key="user.address" /></td>
            <td>{user.address}</td>
        </tr>
        <tr>
            <td><f:translate key="user.zip" /></td>
            <td>{user.zip}</td>
        </tr>
        <tr>
            <td><f:translate key="user.city" /></td>
            <td>{user.city}</td>
        </tr>
        <tr>
            <td><f:translate key="user.country" /></td>
            <td>{user.country}</td>
        </tr>
    </table>
</html>