<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />

	This Template is responsible for creating a table of domain objects.

	If you modify this template, do not forget to change the overwrite settings
	in /Configuration/ExtensionBuilder/settings.yaml:
	  Resources:
		Private:
		  Templates:
			List.html: keep

	Otherwise your changes will be overwritten the next time you save the extension in the extension builder

	<f:section name="content">
		<h1>Listing for Rubric</h1>

		<f:flashMessages />

		<table  class="tx_dzbankmagazine" >
			<tr>
				<th><f:translate key="tx_dzbankmagazine_domain_model_rubric.title" /></th>
				<th><f:translate key="tx_dzbankmagazine_domain_model_rubric.description" /></th>
				<th> </th>
				<th> </th>
			</tr>

			<f:for each="{rubrics}" as="rubric">
				<tr>
					<td><f:link.action action="show" arguments="{rubric : rubric}"> {rubric.title}</f:link.action></td>
					<td><f:link.action action="show" arguments="{rubric : rubric}"> {rubric.description}</f:link.action></td>
					<td><f:link.action action="edit" arguments="{rubric : rubric}">Edit</f:link.action></td>
					<td><f:link.action action="delete" arguments="{rubric : rubric}">Delete</f:link.action></td>
				</tr>
			</f:for>
		</table>

		<f:link.action action="new">New Rubric</f:link.action>
	</f:section>
</html>