<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
      f:schemaLocation="https://fluidtypo3.org/schemas/fluid-master.xsd"
      v:schemaLocation="http://fluidtypo3.org/schemas/vhs-4.0.0.xsd"
      data-namespace-typo3-fluid="true">

<div class="container">
    <div class="row">
        <div class="video {f:render(partial: 'ElementSpace', arguments: _all)} col-md-10 offset-md-1">
            <div class="video__player">
                <f:if condition="{data.tx_mask_videoid}">
                    {v:media.youtube(videoId: data.tx_mask_videoid)}
                </f:if>
            </div>
        </div>
    </div>
</div>
</html>