<div class="story-countup">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3 text">
                <div data-decimals='0' class="countup">
                    <f:if condition="{data.tx_mask_value}">
                        <span class="countup__value">{data.tx_mask_value}</span>
                    </f:if>
                    <f:if condition="{data.tx_mask_unit}">
                        <span class="countip__unit">{data.tx_mask_unit}</span>
                    </f:if>
                    <f:if condition="{data.header}">
                        <p>{data.header}</p>
                    </f:if>
                </div>
            </div>
        </div>
    </div>
</div>