<div class="story-quote">
  <f:switch expression="{data.tx_mask_quote_type}">
    <f:case value="2">
      <f:if condition="{data.media.0}">
        <f:then>
          <div style="background-image: url({f:uri.image(image: data.media.0)})" class="story-quote__background story-quote__background--image"></div>
        </f:then>
        <f:else>
          <div class="story-quote__background story-quote__background--image"></div>
        </f:else>
      </f:if>
    </f:case>
    <f:case value="3">
      <div class="story-quote__background story-quote__background--video">
        <f:if condition="{data.media.0}">
          <video preload="auto" muted="muted" playsinline="playsinline" autoplay="autoplay" loop="loop">
            <source src="{data.media.0.originalFile.publicUrl}"/>
          </video>
        </f:if>
      </div>
    </f:case>
    <f:case default="TRUE">
      <div class="story-quote__background"></div>
    </f:case>
  </f:switch>
  <figure>
    <blockquote>
      <f:if condition="{data.media.0} && ({data.tx_mask_quote_type} == 1)">
        <div class="story-zoom">
          <div class="container">
            <div class="row row--center">
              <div class="col-md-10">
                <f:image image="{data.media.0}" alt="{data.media.0.alternative}" title="{data.media.0.title}" />
              </div>
            </div>
          </div>
        </div>
      </f:if>
      <f:if condition="{data.header}">
        <p>{data.header}</p>
      </f:if>
    </blockquote>
    <f:if condition="{data.subheader}">
      <figcaption>{data.subheader}</figcaption>
    </f:if>
  </figure>
</div>