<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
      f:schemaLocation="https://fluidtypo3.org/schemas/fluid-master.xsd"
      v:schemaLocation="http://fluidtypo3.org/schemas/vhs-4.0.0.xsd"
      data-namespace-typo3-fluid="true">

<f:if condition="{f:cObject(typoscriptObjectPath: 'lib.pdf')}">
    <f:then>
        <f:render section="Pdf" arguments="{_all}" />
    </f:then>
    <f:else>
        <f:render section="Default" arguments="{_all}" />
    </f:else>
</f:if>

<f:section name="Default">
    <div class="story-text {data.tx_mask_text_type} {f:render(partial: 'ElementSpace', arguments: _all)}">
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3 text">
                    <f:if condition="{data.header}">
                        <h2>{data.header}</h2>
                    </f:if>
                    <f:if condition="{data.bodytext}">
                        <f:format.html parseFuncTSPath="lib.parseFunc_RTE">{data.bodytext}</f:format.html>
                    </f:if>
                </div>
            </div>
        </div>
    </div>
</f:section>

<f:section name="Pdf">
    <f:render section="Default" arguments="{_all}" />
    <f:switch expression="{data.tx_mask_text_type}">
        <f:case value="story-text--inverted">
            <div class="u-padding-bottom--5x">&nbsp;</div>
        </f:case>
    </f:switch>
</f:section>
</html>