<div class="story-intro">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="story-stage__intro">
                    <f:if condition="{data.bodytext}">
                        <f:format.html parseFuncTSPath="lib.parseFunc_RTE">{data.bodytext}</f:format.html>
                    </f:if>
                </div>
            </div>
        </div>
    </div>
</div>