<div class="story-video">
  <div class="container">
    <div class="row">
      <div class="video u-padding-bottom--5x col-md-10 offset-md-1">
        <div class="video__player">
          <f:if condition="{data.media}">
            <f:for each="{data.media}" as="file">
              <video src="{file.originalFile.publicUrl}" controls="controls" preload="auto" poster=""></video>
            </f:for>
          </f:if>
        </div>
      </div>
    </div>
  </div>
</div>