<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
      f:schemaLocation="https://fluidtypo3.org/schemas/fluid-master.xsd"
      v:schemaLocation="http://fluidtypo3.org/schemas/vhs-4.0.0.xsd"
      data-namespace-typo3-fluid="true">

<f:if condition="{data.image}">
    <div class="{f:render(partial: 'ElementSpace', arguments: _all)} {f:if(condition: data.tx_mask_background, then: 'bg_grey-light')}">
        <f:switch expression="{data.tx_mask_image_type}">
            <f:case value="1">
                <f:render section="Zoom" arguments="{_all}" />
            </f:case>
            <f:case value="2">
                <f:render section="FullWidth" arguments="{_all}" />
            </f:case>
            <f:case default="TRUE">
                <f:render section="Default" arguments="{_all}" />
            </f:case>
        </f:switch>
    </div>
</f:if>

<f:section name="Default">
    <div class="image">
        <div class="container">
            <div class="row">
                <div class="text {f:if(condition: data.tx_mask_slider_type, then: 'col-md-10 offset-md-1', else: 'col-md-6 offset-md-3')}">
                    <f:if condition="{data.header}">
                        <h3>{data.header}</h3>
                    </f:if>
                    <f:image image="{data.image.0}" alt="{data.image.0.alternative}" title="{data.image.0.title}"/>
                </div>
            </div>
        </div>
    </div>
</f:section>

<f:section name="Zoom">
    <div class="story-zoom">
        <div class="container">
            <div class="row row--center">
                <div class="{f:if(condition: data.tx_mask_slider_type, then: 'col-md-10', else: 'col-md-6')}">
                    <f:if condition="{data.header}">
                        <h3>{data.header}</h3>
                    </f:if>
                    <f:image image="{data.image.0}" alt="{data.image.0.alternative}" title="{data.image.0.title}" />
                </div>
            </div>
        </div>
    </div>
</f:section>

<f:section name="FullWidth">
    <div class="image full-width">
        <f:if condition="{data.header}">
            <h3>{data.header}</h3>
        </f:if>
        <f:image image="{data.image.0}" alt="{data.image.0.alternative}" title="{data.image.0.title}" />
    </div>
</f:section>
</html>