<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
      f:schemaLocation="https://fluidtypo3.org/schemas/fluid-master.xsd"
      v:schemaLocation="http://fluidtypo3.org/schemas/vhs-4.0.0.xsd"
      data-namespace-typo3-fluid="true">

<div class="{f:render(partial: 'ElementSpace', arguments: _all)}">
    <div class="story-infobox {f:if(condition: background, then: 'infobox--conclusion')}">
        <div class="container">
            <div class="row">
                <div class="infobox text col-md-6 offset-md-3">
                    <div class="infobox__inner">
                        <f:if condition="{data.header}">
                            <h3>{data.header}</h3>
                        </f:if>
                        <f:if condition="{data.bodytext}">
                            <f:format.html parseFuncTSPath="lib.parseFunc_RTE">{data.bodytext}</f:format.html>
                        </f:if>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>