<f:if condition="{data.tx_mask_accordion}">
    <f:if condition="{f:cObject(typoscriptObjectPath: 'lib.pdf')}">
        <f:then>
            <f:render section="Pdf" arguments="{_all}" />
        </f:then>
        <f:else>
            <f:render section="Default" arguments="{_all}" />
        </f:else>
    </f:if>
</f:if>

<f:section name="Default">
    <section class="accordion">
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3 text">

                    <f:for each="{data.tx_mask_accordion}" as="data_item">
                        <div class="accordion__entry">
                            <div class="accordion__summary">
                                {data_item.tx_mask_header}
                                <span class="icon icon-arrow-to-top">
                                    <svg role="img">
                                        <use xlink:href="#icon-arrow-to-top"></use>
                                    </svg>
                                    <span class="icon-click-target"></span>
                                </span>
                            </div>
                            <div class="accordion__details">
                                <div class="text">
                                    <f:format.html parseFuncTSPath="lib.parseFunc_RTE">{data_item.tx_mask_bodytext}</f:format.html>
                                </div>
                            </div>
                        </div>
                    </f:for>

                </div>
            </div>
        </div>
    </section>
</f:section>

<f:section name="Pdf">
    <section class="accordion">
        <f:for each="{data.tx_mask_accordion}" as="data_item">
            <div class="accordion__entry">
                <div class="accordion__summary">
                    {data_item.tx_mask_header}
                </div>
                <div class="accordion__details">
                    <div class="text">
                        <f:format.html parseFuncTSPath="lib.parseFunc_RTE">{data_item.tx_mask_bodytext}</f:format.html>
                    </div>
                </div>
            </div>
        </f:for>
    </section>
</f:section>