<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
      f:schemaLocation="https://fluidtypo3.org/schemas/fluid-master.xsd"
      v:schemaLocation="http://fluidtypo3.org/schemas/vhs-4.0.0.xsd"
      data-namespace-typo3-fluid="true">

<div class="{f:if(condition: data.tx_mask_background, then: 'bg_grey-light')} {f:render(partial: 'ElementSpace', arguments: _all)}">
    <div class="slider__wrapper">
        <div class="container">
            <div class="row">
                <div class="slider__wrapper__item {f:if(condition: data.tx_mask_slider_type, then: 'col-md-10 offset-md-1', else: 'col-md-6 offset-md-3')} text">
                    <div class="slider">
                        <div class="slider__items">
                            <f:if condition="{data.tx_mask_slider_items}">
                                <f:for each="{data.tx_mask_slider_items}" as="data_item">
                                    <div class="slider__item">
                                        <f:if condition="{data_item.tx_mask_slider_header}">
                                            <h3>{data_item.tx_mask_slider_header}</h3>
                                        </f:if>
                                        <f:if condition="{data_item.tx_mask_slider_image -> f:count()}">
                                            <a href="{f:uri.image(image: data_item.tx_mask_slider_image.0)}"
                                               class="slider__item__image">
                                                <img src="{f:uri.image(image: data_item.tx_mask_slider_image.0)}"/>
                                            </a>
                                        </f:if>
                                    </div>
                                </f:for>
                            </f:if>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider__arrow slider__arrow--previous"><span class="icon icon-arrow-slider-left"><svg
                    role="img"><use xlink:href="#icon-arrow-slider-left"></use></svg><span
                    class="icon-click-target"></span></span>
            </div>
            <div class="slider__arrow slider__arrow--next"><span class="icon icon-arrow-slider-right"><svg
                    role="img"><use xlink:href="#icon-arrow-slider-right"></use></svg><span
                    class="icon-click-target"></span></span>
            </div>
        </div>
    </div>
</div>
</html>