<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:nf="http://typo3.org/ns/Netfed/Dzbankmagazine/ViewHelpers" data-namespace-typo3-fluid="true">
<div class="slider__wrapper article-slider">
  <div class="container">
    <div class="row">
      <div class="slider__wrapper__item">
        <f:if condition="{data.header}">
          <h4 class="article-slider__headline">{data.header}</h4>
        </f:if>
        <div class="slider u-padding-bottom--3x slider__bg-line" data-show='2' data-magnify="false" data-preselect="0">
          <div class="slider__items">

            <f:for each="{nf:Data(classString: 'Netfed\Dzbankmagazine\Domain\Repository\ArticleRepository', methodName: 'findByUids', parameters: {0: data.tx_mask_articles})}" as="article">
              <div class="slider__item">
                <div>
                    <v:render.template file="EXT:dzbankmagazine/Resources/Private/Partials/Magazine/Teaser/Teaser.html" variables="{article:article}" paths="{v:variable.typoscript(path: 'plugin.tx_dzbankmagazine_magazine.view')}" />
                </div>
              </div>
            </f:for>

          </div>
        </div>
      </div>
    </div>
    <div class="slider__arrow slider__arrow--previous">
      <span class="icon icon-arrow-slider-left">
        <svg role="img">
          <use xlink:href="#icon-arrow-slider-left"></use>
        </svg>
        <span class="icon-click-target"></span>
      </span>
    </div>
    <div class="slider__arrow slider__arrow--next">
      <span class="icon icon-arrow-slider-right">
        <svg role="img">
          <use xlink:href="#icon-arrow-slider-right"></use>
        </svg>
        <span class="icon-click-target"></span>
      </span>
    </div>
  </div>
</div>
</html>