<div class="form-group">
    <label for="{property -> f:or(alternative: name)}">
        <f:translate key="{label}">{label}</f:translate>
        <f:if condition="{required}"><span class="required">*</span></f:if>
    </label>
    <f:form.textfield type="{type}" property="{property}" name="{name}" id="{property -> f:or(alternative: name)}" value="{value}" class="form-control" required="{required}" data="{data}" />
</div>