<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-dzbankmagazine" >
	<tr>
		<td>
			<f:translate key="tx_dzbankmagazine_domain_model_rubric.title" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dzbankmagazine_domain_model_rubric.description" />
		</td>
		<td>
		</td>
	</tr>
</table>
</html>