<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

<f:section name="content">
	<f:flashMessages />
	<div class="search-results">
		<h1>{theme.title}<small>Artikel aller Ausgaben</small></h1>
	</div>
	<div id="content" class="container">
		<div class="teaser-list">
			<div class="teaser-grid row">
				<f:for each="{articles}" as="article" iteration="i">
					<div class="{f:if(condition: i.isOdd, then: 'teaser-grid__left', else: 'teaser-grid__right')} col-md-6">
						<f:render partial="Magazine/Teaser/Teaser" arguments="{article:article}"/>
					</div>
				</f:for>
			</div>
		</div>
	</div>
</f:section>
</html>