<div class="story-stage__image__wrapper">
    <div class="story-stage__image"><img src="/fileadmin/user_uploads/00_startseite/360.jpg" style="object-position: 25% 75%"/></div>
</div>
<div class="story-stage__issue">
    <div class="story-stage__issue__no">#{topArticle.magazine.0.number}</div><span>Ausgabe</span>
</div>
<div class="cover__to-content">
    <div class="container">
        <div class="row row--center">
            <a href="#content" class="cover__content__down">
                <div>zu den Artikeln</div>
                <span class="icon icon-arrow-more-articles">
                      <svg role="img">
                        <use xlink:href="#icon-arrow-more-articles"></use>
                      </svg>
                    <span class="icon-click-target"></span>
                </span>
            </a>
        </div>
    </div>
</div>
<div data-loading-intercept="true" class="cover">
    <div class="cover__figure"></div>
    <div class="cover__header">
        <div class="cover__header--left"><strong>DZ Bank</strong>Die Initiativbank</div>
        <div class="cover__header--center"><strong>Friedrich</strong>Research. Trends. Analysen.</div>
        <div class="cover__header--right">#{topArticle.magazine.0.number}</div>
    </div>
    <f:comment>
        <!--<div class="dummy-overlay">
            <img src="/fileadmin/user_upload/header_header-375.svg" class="u-hidden&#45;&#45;md-up"/>
            <img src="/fileadmin/user_upload/header_header-768.svg" class="u-hidden&#45;&#45;md-down u-hidden&#45;&#45;lg-up"/>
            <img src="/fileadmin/user_upload/header_header-1024.svg" class="u-hidden&#45;&#45;lg-down u-hidden&#45;&#45;xl-up"/>
            <img src="/fileadmin/user_upload/header_header-1440.svg" class="u-hidden&#45;&#45;xl-down"/>
        </div>-->
    </f:comment>
    <script type="text/template" class="cover__video">
        <div class="cover__video">
            <video autoplay="autoplay" playsinline="playsinline" loop="loop">
                <source type="video/mp4" src="/fileadmin/user_uploads/00_startseite/Metamorphose-Fallback.mp4"/>
            </video>
        </div>
    </script>
    <div class="cover__content">
        <div class="container">
            <div class="row row--center">
                <h1 class="cover__content__title col-lg-10">{topArticle.title}</h1>
            </div>
            <div class="row row--center">
                <div class="cover__content__subtitle col-md-10 col-lg-8">{topArticle.subtitle}</div>
            </div>
        </div>
    </div><img src="/fileadmin/user_uploads/Stoerer/betaversion2.png" class="cover__storer"/>
</div>