<article>
    <div class="teaser__figure teaser__figure--rounded">
        <f:if condition="{magazine.image}">
            <f:image image="{magazine.image}"/>
        </f:if>
        <f:if condition="{magazine.hoverImage}">
            <div aria-hidden="aria-hidden" class="teaser__figure__hover">
                <f:image image="{magazine.hoverImage}"/>
            </div>
        </f:if>
    </div>
    <div class="teaser__content teaser__content--headline-large">
        <h1>{magazine.externalTitle}</h1>
        <p class="teaser__content__category">{magazine.externalDescription}</p>
    </div>
    <f:render partial="Article/Meta" arguments="{_all}"/>
</article>