<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
      data-namespace-typo3-fluid="true">
<div id="content" class="container">
    <div class="teaser-list">
        <div class="row">
            <div class="col-10 offset-1 col-md-8 offset-md-2 col-lg-4 offset-lg-4">
                <f:if condition="{editorialArticle}">
                    <f:render partial="Magazine/Teaser/Teaser" arguments="{article:editorialArticle}"/>
                    <f:comment>
                        <f:link.action pageUid="{settings.show.article}"
                                       action="show"
                                       controller="Article"
                                       arguments="{article:editorialArticle}"
                                       class="teaser teaser--editorial">
                            <article>
                                <div class="teaser__figure teaser__figure--text">
                                    <div class="teaser__figure__text">
                                        {editorialArticle.title}
                                    </div>
                                </div>
                                <div class="teaser__content">
                                    <p class="teaser__content__category">{editorialArticle.rubric.0.title}</p>
                                </div>
                                <f:render partial="Article/Meta" arguments="{article: editorialArticle}"/>
                            </article>
                        </f:link.action>
                    </f:comment>
                </f:if>
            </div>
        </div>
        <div class="row">
            <div class="col-10 offset-1 col-md-8 offset-md-2">
                <f:link.action pageUid="{settings.show.article}"
                               action="show"
                               controller="Article"
                               arguments="{article:topArticle}"
                               class="teaser teaser--default">
                    <f:render partial="Magazine/Teaser/TopTeaser" arguments="{article:topArticle}"/>
                </f:link.action>
            </div>
        </div>
        <div class="teaser-grid row">
            <div class="teaser-grid__left col-md-6">
                <f:for each="{gridArticles -> v:iterator.chunk(count: 2) -> v:iterator.first()}" as="article">
                    <div>
                        <f:render partial="Magazine/Teaser/Teaser" arguments="{article:article}"/>
                    </div>
                </f:for>
            </div>
            <div class="teaser-grid__right col-md-6">
                <f:for each="{gridArticles -> v:iterator.chunk(count: 2) -> v:iterator.last()}" as="article">
                    <div>
                        <f:render partial="Magazine/Teaser/Teaser" arguments="{article:article}"/>
                    </div>
                </f:for>
            </div>
        </div>
        <f:if condition="{magazine.externalUrl}">
            <div class="row row--center">
                <div class="col-md-3">
                    <div>
                        <f:link.external uri="{magazine.externalUrl}" class="teaser teaser--big">
                            <f:render partial="Magazine/ExternalArticle" arguments="{_all}"/>
                        </f:link.external>
                    </div>
                </div>
            </div>
        </f:if>
    </div>
</div>
</html>