<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
  <f:layout name="Default" />

  <f:section name="content">
    <f:flashMessages />

    <f:render partial="FormErrors" />

    <f:form action="update" name="user" object="{user}" class="validate">
      <f:render partial="User/FormFields" section="Edit" arguments="{user:user}" />

      <f:form.submit value="{f:translate(key: 'save')}" class="btn btn-default" />
    </f:form>
  </f:section>
</html>