<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />

	<f:section name="content">
		<f:flashMessages />

		<table class="table table-striped">
			<tr>
				<th><f:translate key="user.username" /></th>
				<th><f:translate key="user.firstName" /></th>
				<th><f:translate key="user.lastName" /></th>
				<th></th>
				<th></th>
			</tr>

			<f:for each="{users}" as="user">
				<tr>
					<td>
						<f:link.action action="show" arguments="{user: user}">{user.username}</f:link.action>
					</td>
					<td>{user.firstName}</td>
					<td>{user.lastName}</td>
					<td>
						<f:link.action action="edit" arguments="{user: user}">
							<f:translate key="edit" />
						</f:link.action>
					</td>
					<td>
						<f:link.action action="delete" arguments="{user: user}" onclick="$('#detele-user-{user.uid}').modal(); return false;">
							<f:translate key="delete" />
						</f:link.action>
						<div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" id="detele-user-{user.uid}">
							<div class="modal-dialog modal-sm">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
										<h4 class="modal-title">
											<f:translate key="user.delete"/>
											{user.username}?
										</h4>
									</div>
									<div class="modal-footer">
										<f:link.action action="delete" arguments="{user: user}" class="btn btn-danger">
											<f:translate key="delete" />
										</f:link.action>
										<button type="button" data-dismiss="modal" class="btn"><f:translate key="cancel" /></button>
									</div>
								</div>
							</div>
						</div>
					</td>
				</tr>
			</f:for>
		</table>

		<f:link.action action="new"><f:translate key="user.new" /></f:link.action>

	</f:section>
</html>