<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
  <f:layout name="Default" />

  <f:section name="content">
    <f:flashMessages />

    <f:render partial="FormErrors" />

    <f:form action="create" name="newUser" object="{newUser}" class="validate">
      <f:render partial="User/FormFields" section="New" arguments="{user:newUser}" />

      <f:form.submit value="{f:translate(key: 'create')}" class="btn btn-default" />
    </f:form>
  </f:section>
</html>