<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />

	<f:section name="content">
		<f:flashMessages />

		<f:render partial="User/Properties" arguments="{user:user}" />

		<f:link.action action="list">
			<f:translate key="back" />
		</f:link.action>
	</f:section>
</html>