<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:nf="http://typo3.org/ns/Netfed/Dzbankmagazine/ViewHelpers" data-namespace-typo3-fluid="true">
<div class="nav__contents__content">
    <div class="nav__contents__content__title">Ausgaben anzeigen</div>
    <div class="container">
        <div class="row">
            <f:for each="{archived}" as="magazine">
                <div class="col-12 col-lg-6 col-xl-4">
                    <f:link.page pageUid="{f:cObject(typoscriptObjectPath: 'lib.root')}"
                                 additionalParams="{tx_dzbankmagazine_magazine: {magazine:magazine} }"
                                 class="issue-teaser">
                        <article>
                            <div class="issue-teaser__figure">
                                <f:if condition="{magazine.image}">
                                    <f:image image="{magazine.image}"/>
                                    <f:if condition="{magazine.imageHover}">
                                        <div aria-hidden="aria-hidden" class="issue-teaser__figure__hover">
                                            <f:image image="{magazine.imageHover}"/>
                                        </div>
                                    </f:if>
                                </f:if>
                                <div class="issue-teaser__figure__content">
                                    <h1>
                                        {magazine.title}
                                        <small>{magazine.subtitle}</small>
                                    </h1>
                                </div>
                                <div class="issue-teaser__figure__logo">
                                    <f:image src="EXT:provider/Resources/Public/Image/GAD_Header2--inverted.png" />
                                </div>
                                <div class="issue-teaser__figure__number">#{magazine.number}</div>
                            </div>
                            <div class="issue-teaser__title">Ausgabe #{magazine.number}, {magazine.date -> f:format.date(format: '%B %Y')}</div>
                        </article>
                    </f:link.page>
                </div>
            </f:for>
        </div>
    </div>
</div>
</html>