<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:nf="http://typo3.org/ns/Netfed/Dzbankmagazine/ViewHelpers" data-namespace-typo3-fluid="true">
<div class="nav__contents__content">
    <div class="nav__contents__content__title">Folgende Rubriken aller Ausgaben anzeigen</div>
    <div class="nav__contents__content__list">
        <f:for each="{nf:Data(classString: 'Netfed\Dzbankmagazine\Domain\Repository\RubricRepository', methodName: 'findAll')}"
               as="rubric"
               iteration="i">
            <f:link.action pageUid="{f:cObject(typoscriptObjectPath: 'lib.show.rubric')}"
                           action="show"
                           extensionName="Dzbankmagazine"
                           controller="Rubric"
                           pluginName="Magazine"
                           arguments="{rubric : rubric}"
                           class="button button--plain"
            >
                <span>{rubric.title}</span>
            </f:link.action>
        </f:for>
    </div>
</div>
</html>