<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:nf="http://typo3.org/ns/Netfed/Dzbankmagazine/ViewHelpers" data-namespace-typo3-fluid="true">
<div class="nav__contents__content">
    <div class="nav__contents__content__title">Folgende Themen aller Ausgaben anzeigen</div>
    <div class="nav__contents__content__list">
        <f:for each="{nf:Data(classString: 'Netfed\Dzbankmagazine\Domain\Repository\ThemeRepository', methodName: 'findAll')}"
               as="theme"
               iteration="i">
            <f:link.action pageUid="{f:cObject(typoscriptObjectPath: 'lib.show.theme')}"
                           action="show"
                           extensionName="Dzbankmagazine"
                           controller="Theme"
                           pluginName="Magazine"
                           arguments="{theme : theme}"
                           class="button button--plain">
                <span>{theme.title}</span>
            </f:link.action>
        </f:for>
    </div>
</div>
</html>