/* line 398, node_modules/sass-mq/_mq.scss */

body:before {
	background-color: #FCF8E3;
	border-bottom: 1px solid #FBEED5;
	border-left: 1px solid #FBEED5;
	color: #C09853;
	font: small-caption;
	padding: 3px 6px;
	pointer-events: none;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 100;
}

/* line 16, src/_lib/mq/mq.scss */

body:before {
	display: none;
	top: auto;
	bottom: 0;
	font-family: monospace;
	background: #000;
	color: #0f0;
	border: none;
}

/* line 1, src/_components/loading/loading.sass */

.loading {
	background: #FFF;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 100;
	overflow: hidden;
}

/* line 14, src/_components/loading/loading.sass */

.loading__inner {
	position: relative;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 100%;
	height: 100vh;
}

/* line 22, src/_components/loading/loading.sass */

.loading__visual {
	position: relative;
	width: 174px;
	height: 55px;
}

/* line 27, src/_components/loading/loading.sass */

.loading__visual svg {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

/* line 34, src/_components/loading/loading.sass */

.loading__visual svg path {
	stroke-dasharray: 116;
	stroke-dashoffset: 116;
	animation: loading 1.5s ease-in-out infinite;
}

/* line 50, src/_components/loading/loading.sass */

body.is-loaded {
	overflow: auto;
}

@media (max-width: 23.4275em) {

/* line 1, src/_components/loading/loading.sass */

.loading {
	top: 51px !important;
}

}

@keyframes loading {

0% {
	stroke-dashoffset: 116;
}

50% {
	stroke-dashoffset: 0;
}

100% {
	stroke-dashoffset: -116;
}

}

