.tx-felogin-pi1 input[type=text],
.tx-felogin-pi1 input[type=password],
.tx-felogin-pi1 input[type=email],
.tx-felogin-pi1 input[type=number],
.tx-felogin-pi1 select,
.tx-felogin-pi1 textarea {
    height: 50px;
    width: 100%;
    margin: 10px 0 30px 0;
    padding: 10px;
    font-size: 1.5rem;
    border: 1px solid #707172;
    border-radius: 2px;
    transition: all 0.2s ease;
}
.tx-felogin-pi1 input[type=text]:hover,
.tx-felogin-pi1 input[type=password]:hover,
.tx-felogin-pi1 input[type=email]:hover,
.tx-felogin-pi1 input[type=number]:hover,
.tx-felogin-pi1 select:hover,
.tx-felogin-pi1 textarea:hover {
    border-color: #111;
}
.tx-felogin-pi1 input[type=text]:focus,
.tx-felogin-pi1 input[type=password]:focus,
.tx-felogin-pi1 input[type=email]:focus,
.tx-felogin-pi1 input[type=number]:focus,
.tx-felogin-pi1 select:focus,
.tx-felogin-pi1 textarea:focus {
    outline: none;
    border-color: #111;
}
.tx-felogin-pi1 textarea {
    min-height: 70px;
}
.tx-felogin-pi1 input[type=submit].button {
    background: #f08200;
    border: none;
}

.tx-felogin-pi1 label, .tx-felogin-pi1 .gray {
    color: #707172;
}

.tx-felogin-pi1 .text-left {
    text-align: left;
}
.tx-felogin-pi1 .text-center {
    text-align: center;
}
.tx-felogin-pi1 .text-right {
    text-align: right;
}

.tx-felogin-pi1 .forgot-password {
    padding-top: 30px;
    margin-top: 60px;
    border-top: 1px solid #707172;
}