iframe, 
svg,
nav.nav, 
.article-slider, 
.slider__arrow,
.accordion__summary .icon,
.cover__to-content,
.story-video {
    display: none !important;
}

body {
    font-size: 16px !important;
    line-height: 22px !important;
    margin: 0;
    padding: 0;
}

* {
    margin: 0;
    padding: 0;
}

/* Stage */
.story-stage__meta {
    page-break-after: always;
}

.story-stage .story-stage__issue {
   margin-top: 150px;
   margin-bottom: 100px;
   color: #000;
   text-align: center;
   font-size: 18px !important;
   line-height: 26px !important;
}
.story-stage .story-stage__issue .story-stage__issue__no {
    font-size: 50px !important;
    line-height: 56px !important;
    font-weight: bold;
}
.story-stage__headlines {
    text-align: center;
    margin-bottom: 50px;
}

.story {
    padding: 0;
    margin: 0;
}

/* Editorial */
.story-stage__category {
    color: #000;
    text-align: center;
    font-size: 22px !important;
    line-height: 30px !important;
    margin-bottom:  20px !important;
    width: 100%;
}

.story-stage__meta {
    width: 100%;
    text-align: center;
}

.story-stage__meta table {
    margin: 0 auto;
}

.story-intro {
    font-size: 26px !important;
    line-height: 32px !important;
    margin-top:  30px !important;
    margin-bottom:  40px !important;
    text-align: center;
}

.story h2 {
    margin: 0;
    padding: 0;
    font-size: 32px !important;
    line-height: 38px !important;
    text-align: center;
    margin-bottom: 22px !important;
}

.story h3 {
    margin: 0;
    padding: 0;
    font-size: 28px !important;
    line-height: 34px !important;
    text-align: center;
    margin-bottom: 22px !important;
}

.story h4 {
    margin: 0;
    padding: 0;
    font-size: 22px !important;
    line-height: 28px !important;
    text-align: center;
    margin-bottom: 22px !important;
}

.story p {
    margin: 0 !important;
    padding: 0 !important;
}

.story-text,
.story-text--inverted,
.u-padding-top--5x,
.u-padding-bottom--5x,
.accordion,
.story-countup,
.story-quote,
.slider__wrapper.article-slider,
.story-infobox {
    box-decoration-break: slice;
    margin-top:  0 !important;
    padding-top: 0 !important;
    margin-bottom:  40px !important;
    padding-bottom: 0 !important;
}

.bg_grey-light .slider__wrapper {
    padding-top: 40px !important;
}

.bg_grey-light .image {
    padding: 0 40px;
}

/* Slider */
.slider__item {
    margin-bottom: 40px;
    padding: 0 15%;
    page-break-inside: avoid;
}

.slider__item h3 {
    margin-bottom: 20px;
}

/* Story Zoom Image */
.story-zoom {
    padding: 0 25%;
    margin-bottom: 40px;
}

/* Grey BG */
.bg_grey-light  {
    /*background-color: #f6f6f6 !important;*/
    box-decoration-break: slice;
    padding-top: 40px !important;
    padding-bottom: 40px !important;
    page-break-inside: avoid;
}

/* Count UP */
.story-countup {
    font-size: 60px;
    line-height: 70px;
    text-align: center;
    font-weight: bold;
}
.story-countup p {
    font-size: 20px;
    line-height: 28px;
    font-weight: bold;
    padding: 0 20%;
}

/* Quote */
.story-quote {
    text-align: center;
    color: #FFF;
    background-color: #f08200;
    padding: 20px 0;
}
.story-quote blockquote {
    font-size: 32px !important;
    line-height: 38px !important;
    margin: 0 20% 10px 20%!important;
    padding: 0 !important;
}
.story-quote blockquote p {
    margin: 0 !important;
    padding: 0 !important;
}
.story-quote figcaption {
    font-weight: bold;
    padding: 0 20%;
}
.story-quote__background--image,
.story-quote__background--video {
    display: none !important;
}

/* Story Text */
.story-text {
    margin-bottom: 18px !important;
}
.story-text h2,
.story-text h3,
.story-text h4,
.story-text p {
    margin-bottom: 22px;
}

.story-text--inverted {
    background-color: #000 !important;
    color: #FFF !important;
    padding: 40px 40px 18px 40px;
    margin-bottom: 40px !important;
    page-break-inside: avoid;
}

.story-text blockquote {
    text-align: center;
    padding: 0 15%;

}
.story-text blockquote p {
    font-size: 28px !important;
    line-height: 34px !important;
}

/* .story-infobox */
.story-infobox {
    background-color: #f6f6f6 !important;
    padding: 18px 40px 40px 40px  !important;
    page-break-inside: avoid;
}
.story-infobox h2,
.story-infobox h3,
.story-infobox h4,
.story-infobox p {
    margin: 22px 0 0 0 !important;
}

.full-width {
    margin-bottom: 40px !important;
}

/* Accordion */
.accordion__summary {
    height: 30px !important;
    overflow: hidden !important;
    padding-top: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #707172;
}

.accordion__entry {
    page-break-inside: avoid;
}