<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
      f:schemaLocation="https://fluidtypo3.org/schemas/fluid-master.xsd"
      v:schemaLocation="http://fluidtypo3.org/schemas/vhs-4.0.0.xsd"
      data-namespace-typo3-fluid="true">
<div class="slider__wrapper article-slider">
    <div class="container">
        <div class="row">
            <div class="slider__wrapper__item">
                <h4 class="article-slider__headline">Weitere Artikel</h4>
                <div class="slider u-padding-bottom--3x slider__bg-line" data-show='2' data-magnify="false"
                     data-preselect="1">
                    <div class="slider__items">
                        <f:for each="{article.magazine.0.article}" as="magazineArticle">
                            <div class="slider__item">
                                <div>
                                    <f:render partial="Magazine/Teaser/Teaser" arguments="{article:article}"/>
                                </div>
                            </div>
                        </f:for>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider__arrow slider__arrow--previous"><span class="icon icon-arrow-slider-left"><svg
                role="img"><use xlink:href="#icon-arrow-slider-left"></use></svg><span
                class="icon-click-target"></span></span>
        </div>
        <div class="slider__arrow slider__arrow--next"><span class="icon icon-arrow-slider-right"><svg
                role="img"><use xlink:href="#icon-arrow-slider-right"></use></svg><span
                class="icon-click-target"></span></span>
        </div>
    </div>
</div>
</html>