<div class="teaser__meta">
    <f:if condition="{article.author}">
        <div class="teaser__meta__item">
            <span class="icon icon-author">
                <svg role="img">
                    <use xlink:href="#icon-author"></use>
                </svg>
                <span class="icon-click-target"></span>
            </span>
            <span>{article.author}</span>
        </div>
    </f:if>
    {article.estimatedReadingTime -> f:variable(name: 'estimatedReadingTime')}
    <f:if condition="{estimatedReadingTime}">
        <div class="teaser__meta__item">
            <span class="icon icon-readingtime">
                <svg role="img">
                    <use xlink:href="#icon-readingtime"></use>
                </svg>
                <span class="icon-click-target"></span>
            </span>
            <span>{estimatedReadingTime} min</span>
        </div>
    </f:if>
    <f:if condition="{article.readers}">
        <div class="teaser__meta__item">
            <span class="icon icon-read">
                <svg role="img">
                    <use xlink:href="#icon-read"></use>
                </svg>
                <span class="icon-click-target"></span>
            </span>
            <span>{article.readers -> f:count()} Leser</span>
        </div>
    </f:if>
</div>