<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<div id="content" class="story">
    <f:if condition="!{article.topImage}">
        <div class="story-stage__headlines">
            <div class="container">
                <div class="row row--center">
                    <h1 class="story-stage__title col-lg-10">{article.title}</h1>
                </div>
            </div>
        </div>
    </f:if>
	<div class="story-stage__category">
		<f:for each="{article.rubric}" as="rubric">
			{rubric.title}
		</f:for>
	</div>
    <div class="story-stage__meta">
        {article.estimatedReadingTime -> f:variable(name: 'estimatedReadingTime')}
        <f:if condition="{f:cObject(typoscriptObjectPath: 'lib.pdf')}">
            <f:then>
                <table>
                    <tr>
                        <f:if condition="{article.author}">
                            <td class="story-stage__meta__item">
                                <f:image src="EXT:provider/Resources/Public/Image/author.png" />
                            </td>
                            <td>{article.author}</td>
                        </f:if>
                        <f:if condition="{article.author} && {estimatedReadingTime}">
                            <td>&nbsp;</td>
                        </f:if>
                        <f:if condition="{estimatedReadingTime}">
                            <td class="story-stage__meta__item">
                                <f:image src="EXT:provider/Resources/Public/Image/readingtime.png" />
                            </td>
                            <td class="reading-time-auto">{estimatedReadingTime} min</td>
                        </f:if>
                    </tr>
                </table>
            </f:then>
            <f:else>
                <f:if condition="{article.author}">
                    <div class="story-stage__meta__item">
                        <span class="icon icon-author">
                            <svg role="img">
                                <use xlink:href="#icon-author"></use>
                            </svg>
                            <span class="icon-click-target"></span>
                        </span>
                        <span>{article.author}</span>
                    </div>
                </f:if>
                <f:if condition="{estimatedReadingTime}">
                    <div class="story-stage__meta__item">
                        <span class="icon icon-readingtime">
                            <svg role="img">
                                <use xlink:href="#icon-readingtime"></use>
                            </svg>
                            <span class="icon-click-target"></span>
                        </span>
                        <span class="reading-time-auto">{estimatedReadingTime} min</span>
                    </div>
                </f:if>
                <div class="story-stage__meta__item">
                    <span class="icon icon-read">
                        <svg role="img">
                            <use xlink:href="#icon-read"></use>
                        </svg>
                        <span class="icon-click-target"></span>
                    </span>
                    <span>
                        <f:link.page additionalParams="{tx_dzbankmagazine_magazine: {controller: 'Article', action: 'show', article: article}, tx_web2pdf_pi1: {argument: 'printPage'} }">
                            PDF
                        </f:link.page>
                    </span>
                </div>
            </f:else>
        </f:if>
    </div>

    <f:for each="{article.content}" as="content">
        <f:format.raw>{content.html}</f:format.raw>
    </f:for>

    <f:comment>
        <div class="story-zoom">
            <div class="container">
                <div class="row row--center">
                    <div class="col-md-10"><img src="/assets/00_ausgabe_00/99_styleguide/portrait.jpg" style="transform: translate3d(0px, 0px, 1px) scale(2, 2);"></div>
                </div>
            </div>
        </div>
        <section class="accordion">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 offset-md-3 text">
                        <div class="accordion__entry">
                            <div class="accordion__summary">Platea dictum giam<span class="icon icon-arrow-to-top">
                      <svg role="img">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-to-top"></use>
                      </svg><span class="icon-click-target"></span></span>
                            </div>
                            <div class="accordion__details" style="display: none; height: auto;">
                                <div class="text">
                                    <p>Platea dictum diam ligula tellus iaculis donec luctus gravida, litora taciti lectus vel facilisi duis scelerisque, blandit pulvinar hendrerit congue tempus odio rutrum. Dignissim hac interdum quis sociosqu lectus dictumst tempor risus iaculis aenean posuere, ad sodales dictum habitasse dis mus semper sollicitudin vitae sagittis.</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion__entry">
                            <div class="accordion__summary">Dui curae commodo sociosqu<span class="icon icon-arrow-to-top">
                      <svg role="img">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-to-top"></use>
                      </svg><span class="icon-click-target"></span></span>
                            </div>
                            <div class="accordion__details">
                                <div class="text">
                                    <p>Platea dictum diam ligula tellus iaculis donec luctus gravida, litora taciti lectus vel facilisi duis scelerisque, blandit pulvinar hendrerit congue tempus odio rutrum. Dignissim hac interdum quis sociosqu lectus dictumst tempor risus iaculis aenean posuere, ad sodales dictum habitasse dis mus semper sollicitudin vitae sagittis.</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion__entry">
                            <div class="accordion__summary">Onvallis torquent cursus<span class="icon icon-arrow-to-top">
                      <svg role="img">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-to-top"></use>
                      </svg><span class="icon-click-target"></span></span>
                            </div>
                            <div class="accordion__details">
                                <div class="text">
                                    <p>Platea dictum diam ligula tellus iaculis donec luctus gravida, litora taciti lectus vel facilisi duis scelerisque, blandit pulvinar hendrerit congue tempus odio rutrum. Dignissim hac interdum quis sociosqu lectus dictumst tempor risus iaculis aenean posuere, ad sodales dictum habitasse dis mus semper sollicitudin vitae sagittis.</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion__entry">
                            <div class="accordion__summary">Rutrum cubilia<span class="icon icon-arrow-to-top">
                      <svg role="img">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-to-top"></use>
                      </svg><span class="icon-click-target"></span></span>
                            </div>
                            <div class="accordion__details">
                                <div class="text">
                                    <p>Platea dictum diam ligula tellus iaculis donec luctus gravida, litora taciti lectus vel facilisi duis scelerisque, blandit pulvinar hendrerit congue tempus odio rutrum. Dignissim hac interdum quis sociosqu lectus dictumst tempor risus iaculis aenean posuere, ad sodales dictum habitasse dis mus semper sollicitudin vitae sagittis.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="story-countup">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 offset-md-3 text">
                        <div data-decimals="0" class="countup"><span class="countup__value">60</span><span class="countip__unit">%</span>
                            <p>Kuchen ist genau so lecker wie Kekse. Kuchen ist genau so lecker wie Kekse.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="story-quote">
            <div style="background-image: url(/assets/00_ausgabe_00/99_styleguide/stage.jpg)" class="story-quote__background story-quote__background--image"></div>
            <figure style="transform: matrix(1, 0, 0, 1, 0, 60);">
                <blockquote>
                    <p>jsdklfj</p>
                </blockquote>
                <figcaption>jsdlkf</figcaption>
            </figure>
        </div>
        <div class="story-text story-text--inverted">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3 text">
                        <h2>Platea dictum diam ligula tellus</h2>
                        <p>iaculis donec luctus gravida, litora taciti lectus vel facilisi duis scelerisque, blandit pulvinar hendrerit congue tempus odio rutrum. Dignissim hac interdum quis sociosqu lectus dictumst tempor risus iaculis aenean posuere, ad sodales dictum habitasse dis mus semper sollicitudin vitae sagittis, laoreet quam vivamus penatibus senectus nisl felis consequat nam magnis. Mus interdum natoque venenatis dignissim conubia feugiat eu semper nullam iaculis, molestie vel fusce vestibulum aenean volutpat nec magna condimentum. Pharetra condimentum accumsan bibendum proin tellus ultricies nam velit quam dapibus vitae lacus, habitant arcu dictumst sociosqu purus quis mattis iaculis curabitur est volutpat. Mus interdum natoque venenatis dignissim.</p>
                        <h3>Tortor dapibus</h3>
                        <p>dictum cras facilisis orci arcu rutrum diam integer habitant faucibus sagittis, vivamus bibendum ac convallis commodo vel senectus eget hac quisque nam suspendisse, rhoncus varius nunc condimentum nisi velit lacus magna vulputate dis dictumst. Magna molestie non torquent elementum mus sed eros inceptos nisl gravida libero rutrum metus, nisi himenaeos risus pellentesque luctus magnis quisque augue cras felis accumsan.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="story-infobox infobox--conclusion">
            <div class="container">
                <div class="row">
                    <div class="infobox text col-md-6 offset-md-3">
                        <div class="infobox__inner">
                            <h3>Fazit</h3>
                            <p>ad quisque posuere dictum sodales at aliquet, felis est nibh aptent pharetra fusce netus curae habitant molestie, tristique quam ridiculus phasellus nam luctus quis vel. Faucibus praesent cum gravida nullam diam curabitur montes</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </f:comment>
    <f:render partial="Article/ArticleSlider" arguments="{_all}"/>
</div>
</html>