<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:render partial="Header" arguments="{_all}"/>
<div class="base__content-wrapper">
    <div class="base__content-wrapper__overlay"></div>
    <f:render section="Default"/>
</div>

<f:render partial="Footer" arguments="{_all}"/>

</html>